.clbinfo.section {
  /* padding-top: calc(var(--header-height) + 1rem); */
  padding: 0;
}
.clbinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clbinfo__bg {
  width: 100%;
  height: 100%;
  padding: var(--mb-1-5);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clbinfo__bg-limitedWidth {
  max-width: 500px;
  width: 90vw;
}
.Clbinfo__return {
  position: fixed;
  top: 0;
  left: 0;
  margin: 1rem;
  padding: 1rem !important;
  border-radius: 5rem;
  box-shadow: 5px 5px 5px hsla(var(--hue), 4%, 15%, 0.2);
  background-color: #fff !important;
  color: var(--title-color) !important;
  opacity: 0;
}
.Clbinfo__facebook {
  position: absolute;
  right: 0;
  margin: 2rem;
  border-radius: 2rem !important;
  padding: 0.2rem 0.3rem !important;
  font-size: var(--h2-font-size);
  opacity: 0;
}
.clbinfo__logo {
  max-width: 250px;
  width: 100%;
  margin-bottom: var(--mb-1);
}
.clbinfo__logo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  object-fit: contain;
  padding: calc(var(--header-height) + 1rem);
}
.clbinfo__description {
  font-size: var(--normal-font-size);
  line-height: 140%;
  font-style: italic;
  text-align: justify;
}
.clbinfo__title.colorwhite,
.clbinfo__description.colorwhite {
  color: #fff;
}
.clbinfo__groupImage {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.clbinfo__groupImage-image {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transform: 0.2;
  pointer-events: none;
}
.imageShow {
  transform: scale(0.9, 0.9) !important;
  position: fixed !important;
  z-index: 100 !important;
  top: 0 !important;
  left: 0 !important;
}
.clbinfo__blur:hover .clbinfo__groupImage-image:not(:hover) {
  filter: blur(10px);
}
.clbinfo__blur:hover .clbinfo__groupImage-image:hover {
  z-index: 100 !important;
}

.clbinfo__fullview {
  height: 100vh;
}
@media screen and (min-width: 992px) {
  .clbinfo__bg {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  /* .clbinfo__groupImage {
    display: none !important;
  } */
  .clbinfo__bg {
    padding-top: calc(var(--header-height) + 1rem);
    max-width: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
