/*=============== FOOTER ===============*/
.footer__container {
  row-gap: 3rem;
}

.footer__logo {
  font-size: var(--normal-font-size);
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--title-color);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: var(--mb-2-5);
  transition: 0.3s;
}

.footer__logo-icon {
  max-height: 8.5rem;
  color: var(--first-color);
}

.footer__logo:hover {
  color: var(--first-color);
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1-5);
}

.footer__subscribe {
  background-color: var(--first-color-lighten);
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
}

.footer__input {
  width: 70%;
  padding: 0 0.5rem;
  background: none;
  color: var(--text-color);
  border: none;
  outline: none;
}

.footer__button {
  padding: 1rem;
}

.footer__data {
  display: grid;
  row-gap: 0.75rem;
}

.footer__information {
  font-size: var(--small-font-size);
}

.footer__social {
  display: inline-flex;
  column-gap: 0.75rem;
}

.footer__social-link {
  font-size: 1rem;
  color: var(--text-color);
  transition: 0.3s;
}

.footer__social-link:hover {
  transform: translateY(-0.25rem);
}

.footer__cards {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}
.footer__card {
  width: 35px;
}

.footer__copy {
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  margin: 5rem 0 1rem;
}
/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .footer__subscribe {
    width: 400px;
  }
}

@media screen and (min-width: 767px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__container {
    column-gap: 3rem;
  }
  .footer__subscribe {
    width: initial;
  }
}

/* For large devices */
@media screen and (min-width: 992px) {
  .footer__logo {
    font-size: var(--normal-font-size);
  }
  .footer__container {
    grid-template-columns: 1fr 0.5fr 0.5fr;
  }
  .footer__copy {
    margin: 7rem 0 2rem;
  }
}
