.bch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.bch__data {
  display: flex;
  align-items: center;
  padding-top: var(--header-height);
  gap: 2rem;
}
.bch__container {
  justify-items: center;
  margin: 0 2rem;
  gap: 2rem;
}
.bch__title {
  font-size: var(--h1-font-size);
  line-height: 140%;
  text-transform: uppercase;
  font-weight: 800;
  color: #da241f;
}
.bch__subtitle {
  font-size: var(--h3-font-size);
  line-height: 140%;
  text-transform: uppercase;
  font-weight: 800;
  color: #08613c;
}
.bch__data-img {
  max-width: 140px;
  max-height: 140px;
}
.bch__return {
  padding: 0.5rem;
}
.bch__return-box {
  position: fixed;
  z-index: 11;
  border-style: solid;
  border-color: var(--dtcolor);
  border-radius: 2rem;
  margin: 0.75rem;
  transition: 0.4s;
}
.bch__return-box:hover {
  background-color: var(--dtcolor);
}
.bch__return:hover {
  transform: translateX(-20%);
  color: var(--dtbackgroundcolor);
}
.bch__leader {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(2, 1fr);
}
.bch__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bch__card-img {
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bch__img {
}
.bch__card-title {
  font-size: var(--normal-font-size);
  line-height: 1.75rem;
  font-weight: 700;
}
.bch__card-subtitle {
  font-size: var(--h3-font-size);
  line-height: 1.75rem;
  font-weight: 700;
  margin-bottom: var(--mb-0-5);
}
.bch__teams {
  gap: 4rem;
  display: grid;
}
.gridCol__3 {
  grid-template-columns: repeat(3, 1fr);
}
.gridCol__4 {
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1000px) {
  .gridCol__3,
  .gridCol__4 {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .bch__title {
    font-size: var(--h2-font-size);
  }
  .bch__subtitle {
    font-size: var(--h3-font-size);
  }
}
@media screen and (max-width: 570px) {
  .bch__return-box {
    position: absolute;
  }
  .bch__teams,
  .bch__leader {
    grid-template-columns: repeat(1, 1fr);
  }
  .bch {
    gap: 5rem;
  }
}
@media screen and (max-width: 420px) {
  .bch__data-img {
    max-width: 80px;
    max-height: 80px;
  }
  .bch__title {
    font-size: var(--h3-font-size);
  }
  .bch__subtitle {
    font-size: var(--normal-font-size);
  }
  .bch__card-img {
    max-height: none;
  }
}
