/*=============== QUESTIONS ===============*/
.questions {
  background-color: var(--first-color-lighten);
}

.questions__container {
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.questions__group {
  display: grid;
  row-gap: 1.5rem;
}

.questions__item {
  background-color: var(--container-color);
  border-radius: 0.25rem;
}

.questions__item-title {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.questions__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.questions__description {
  font-size: var(--smaller-font-size);
  padding: 0.75rem 1.25rem 1.25rem 2.5rem;
}

.questions__header {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.75rem 0.5rem;
  cursor: pointer;
}

.questions__content {
  overflow: hidden;
  height: 0;
}

.questions__item,
.questions__header,
.questions__item-title,
.questions__icon,
.questions__description,
.questions__content {
  transition: 0.3s;
}

.questions__item:hover {
  box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, 0.15);
}

/*Rotate icon, change color of titles and background*/
.accordion-open .questions__header,
.accordion-open .questions__content {
  background-color: var(--first-color);
}

.accordion-open .questions__item-title,
.accordion-open .questions__description,
.accordion-open .questions__icon {
  color: #fff;
}

.accordion-open .questions__icon {
  transform: rotate(45deg);
}

/*=============== BREAKPOINTS ===============*/
@media screen and (min-width: 767px) {
  .questions__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .questions__container {
    align-items: flex-start;
  }
}

/* For large devices */
@media screen and (min-width: 992px) {
  .questions__container {
    padding: 1rem 0 4rem;
  }
  .questions__title {
    text-align: initial;
  }
  .questions__group {
    row-gap: 2rem;
  }
  .questions__header {
    padding: 1rem;
  }
  .questions__description {
    padding: 0 3.5rem 2.25rem 2.75rem;
  }
}
