/*=============== HOME ===============*/
.home {
  height: calc(100vh);
  padding: 3.5rem 0 2rem;
}

.home__container {
  position: relative;
  row-gap: 2rem;
}

.home__slider {
  width: 250px;
  justify-self: center;
}

.home__title {
  font-size: var(--big-font-size);
  line-height: 140%;
  margin-bottom: var(--mb-1);
  text-transform: uppercase;
  font-weight: 800;
}

.home__description {
  margin-bottom: var(--mb-2-5);
  font-size: var(--h2-font-size);
  font-style: italic;
}

.home__social {
  position: absolute;
  top: 2rem;
  right: -1rem;
  display: grid;
  justify-items: center;
  row-gap: 3.5rem;
}

.home__social-follow {
  font-weight: var(--font-medium);
  font-size: var(--smaller-font-size);
  color: var(--first-color);
  position: relative;
  transform: rotate(90deg);
}

.home__social-follow::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: var(--first-color);
  right: -45%;
  top: 50%;
}

.home__social-links {
  display: inline-flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.home__social-link {
  font-size: 1rem;
  color: var(--first-color);
  transition: 0.3s;
}

.home__social-link:hover {
  transform: translateX(0.25rem);
}
.home__details {
  display: grid;
  row-gap: 1rem;
  margin-bottom: var(--mb-2-5);
}
.home__details-description {
  display: inline-flex;
  column-gap: 0.5rem;
  font-size: var(--normal-font-size);
  font-weight: 500;
  width: 80%;
}

.home__details-icon {
  font-size: 1rem;
  color: var(--first-color);
  margin-top: 0.15rem;
}

.home__slider-mask {
  max-width: 100% !important;
  height: auto;
  mask-image: url(/home/mask/2.png);
  mask-size: 0%;
  mask-repeat: no-repeat;
  mask-position: 50% 25%;
}
.swiper-slide-active .home__slider-mask {
  animation: ink-transition 1.5s steps(39) 0.5s forwards;
}

@keyframes ink-transition {
  0% {
    opacity: 0;
    mask-size: 10%;
  }
  85% {
    mask-size: 130%;
    opacity: 0.5;
  }
  100% {
    mask-size: 100%;
    opacity: 1;
  }
}
.home__slider {
  /* height: auto; */
}
.home__slider-swiper {
  align-items: center;
}
.home__slider .swiper-slide:not(.swiper-slide-active) {
  opacity: 0 !important;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home__slider {
    width: 180px;
  }
  .home__title {
    font-size: var(--h1-font-size);
  }

  .steps__bg {
    padding: 2rem 1rem;
  }
  .steps__card {
    padding: 1.5rem;
  }

  .product__container {
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .steps__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .product__description {
    padding: 0 4rem;
  }
  .product__container {
    grid-template-columns: repeat(2, 170px);
    justify-content: center;
    column-gap: 5rem;
  }

  .footer__subscribe {
    width: 400px;
  }
}

@media screen and (min-width: 767px) {
  .home__container {
    grid-template-columns: 60% 30%;
  }

  .home {
    padding: 6.5rem 0 5rem;
  }
  .home__container {
    align-items: center;
  }
  .home__slider {
    width: 280px;
    order: 1;
  }
  .home__social {
    top: 30%;
  }
}
/* For large devices */
@media screen and (max-width: 992px) {
  .home {
    height: auto;
  }
}
@media screen and (min-width: 992px) {
  .home {
    padding: 6.5rem 0 5rem;
  }
  .home__slider {
    width: 320px;
  }
  .home__description {
    padding-right: 7rem;
  }
}

@media screen and (min-width: 1200px) {
  .home__social {
    right: -3rem;
    row-gap: 4.5rem;
  }
  .home__social-follow {
    font-size: var(--small-font-size);
  }
  .home__social-follow::after {
    width: 1.5rem;
    right: -60%;
  }
  .home__social-link {
    font-size: 1.15rem;
  }
}
