.lhan {
  padding: 3.5rem 0 2rem;
  /* background-color: #e7d7c8; */
  max-height: 100%;
  background: url("./bg_lhan.png");
  background-repeat: repeat;
  /* height: 100vh; */
}

.lhan__container {
  position: relative;
}
.lhan__header {
  padding-bottom: 5rem;
}
.lhan__title {
  font-size: var(--big-font-size);
  line-height: 140%;
  margin-bottom: var(--mb-1);
  text-align: center;
}
.lhan__card {
  transition: 0.4s;
  cursor: pointer;
}
.lhan__img {
  width: 300px;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px hsla(var(--hue), 4%, 15%, 0.2);
}
.lhan__card:hover {
  transform: translateY(-1rem);
}
.lhan__data {
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
.lhan__footer {
  margin-top: 5rem;
}
.lhan__footer-img {
}
