.products {
  padding: 6rem 0 3rem;
}
.products__container {
  grid-template-columns: 35% 65%;
  align-items: center;
  position: relative;
  row-gap: 2rem;
}
.products__img {
  max-width: 250px;
  width: 50%;
  justify-self: center;
}
.products__title {
  font-family: var(--normal-font-bookflix);
  font-size: var(--big-font-size);
  font-weight: 400;
  line-height: 120%;
  margin-bottom: var(--mb-1);
}
.products__description {
  margin-bottom: var(--mb-2-5);
}
.products__search {
  background-color: #fff;
  padding-top: 0.25rem;
  padding-right: 1.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  border-radius: 2rem;
  display: inline-flex;
  align-items: center;
}
.products__search-input {
  border: none;
  background-color: transparent;
  outline: none;
  font-family: var(--body-font-bookflix);
  font-size: var(--normal-font-size);
}
.products__search-icon {
  padding: 0.5rem;
  font-size: 1.15rem;
  cursor: pointer;
}
.products__bookshelf {
  display: flex;
  width: 60vw;
  height: auto;
  /* background-color: red; */
}
.products__book-img {
  max-width: 100%;
  position: relative;
  width: 94%;
  left: 0.65rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
/* 3D BOOK */
.products__book {
  position: relative;
  box-shadow: none;
  display: inline-block;
  text-align: center;
  margin: 10px;
  margin-right: 2rem;
  outline: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  transform: rotateY(-10deg);
  width: 250px;
  height: fit-content;
}
.bookbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products__book.active-bookflix {
  width: 250px;
}
.products__book:hover {
  transform: scale(1.05);
}
.products__book:before {
  width: 94%;
  left: 13%;
  background-color: #5a2d18;
  box-shadow: 14px 6px 13px 0px #333;
}
.products__book:after {
  background-color: #efefef;
  box-shadow: inset 0 0 3px #aaa;
  width: 5%;
  left: 100%;
  -moz-transform: rotateY(20deg);
  -webkit-transform: perspective(100) rotateY(20deg);
}

.products__book:before,
.products__book:after {
  position: absolute;
  top: 2%;
  height: 94%;
  content: "";
  z-index: -2;
}
.products__bookshelf:before,
.products__bookshelf:after {
  position: absolute;
  bottom: 0;
  content: "";
  /* z-index: -1; */
}
.products__bookshelf:before {
  -webkit-transform: perspective(70) rotateX(20deg);
  width: 100vw;
  height: 50px;
  background-image: linear-gradient(180deg, #f0dcbf, #eee1ce);
}
.products__bookshelf:after {
  /* background-color: #efefef;
  box-shadow: inset 0 0 3px #aaa;
  width: 5%;
  left: 100%;
  -moz-transform: rotateY(20deg);
  -webkit-transform: perspective(100) rotateY(20deg); */
  position: absolute;
  bottom: calc(-1rem - 2px);
  width: 100vw;
  left: 26.9%;
  height: 1rem;
  background-image: linear-gradient(180deg, #fff5e5, #edeae5);
  box-shadow: 19px 10px 20px 0px #333;
}
.products__list {
  align-items: flex-end;
  display: flex;
}
.products__card {
  grid-template-columns: repeat(2, 1fr);
}
.products__card-data {
  margin: 20px 0;
  margin-left: 10px;
}
.products__namebook {
  font-family: var(--body-font-bookflix);
  font-size: var(--h1-font-size);
  font-weight: 400;
  line-height: 120%;
  margin-bottom: var(--mb-0-5);
}
.products__author {
  font-family: var(--body-font-bookflix);
  font-size: var(--normal-font-size);
  font-weight: 400;
  line-height: 120%;
  margin-bottom: var(--mb-2);
}
.btn-read {
  display: inline-block;
  border-style: solid;
  border-color: var(--body-color-bookflix);
  color: var(--body-color-bookflix);
  padding: 0.5rem 1.25rem;
  border-radius: 2rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}
@media screen and (min-width: 767px) {
}

@media screen and (max-width: 767px) {
  .products__search {
    margin-bottom: var(--mb-2-5);
  }
  .products__description {
    display: none;
  }
  .products__data {
    display: flex;
    flex-direction: column-reverse;
  }
  .products__container {
    grid-template-columns: none;
  }
  .products__title br {
    display: none;
  }
  .products__bookshelf:after {
    left: -3%;
  }
  .products__bookshelf {
    width: 90vw;
  }
  .products__book {
    width: 200px;
  }
}
