/*=============== STEPS ===============*/
.steps__bg {
  background-color: var(--first-color);
  padding: 3rem 2rem 2rem;
  border-radius: 1rem;
}

.steps__container {
  gap: 2rem;
  padding-top: 1rem;
}

.steps__title {
  color: #fff;
}

.steps__card {
  background-color: var(--container-color);
  padding: 2.5rem 3rem 2rem 1.5rem;
  border-radius: 1rem;
}

.steps__card-number {
  display: inline-block;
  background-color: var(--first-color-alt);
  color: #fff;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1-5);
  transition: 0.3s;
}

.steps__card-title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.steps__card-description {
  font-size: var(--small-font-size);
}

.steps__card:hover .steps__card-number {
  transform: translateY(-0.25rem);
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .steps__bg {
    padding: 2rem 1rem;
  }
  .steps__card {
    padding: 1.5rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .steps__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For large devices */
@media screen and (min-width: 992px) {
  .steps__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .steps__bg {
    padding: 3.5rem 2.5rem;
  }
  .steps__card-title {
    font-size: var(--normal-font-size);
  }
}
